In [204]:
import pandas as pd
import random

In [205]:
authors = pd.read_csv('./data_raw/Author.csv')
authors_affiliated_company = pd.read_csv('./data_raw/AUTHOR_AFFILIATED_COMPANY.csv')
authors_affiliated_university = pd.read_csv('./data_raw/AUTHOR_AFFILIATED_UNIVERSITY.csv')
authored = pd.read_csv('./data_raw/AUTHORED.csv')
cites = pd.read_csv('./data_raw/CITES.csv')
companies = pd.read_csv('./data_raw/Company.csv')
conferences = pd.read_csv('./data_raw/Conference.csv')
editions = pd.read_csv('./data_raw/EDITION.csv')
HAS_VOLUME = pd.read_csv('./data_raw/HAS_VOLUME.csv')
IS_ABOUT = pd.read_csv('./data_raw/IS_ABOUT.csv')
journals = pd.read_csv('./data_raw/Journal.csv')
keywords = pd.read_csv('./data_raw/Keyword.csv')
organizes = pd.read_csv('./data_raw/ORGANIZES.csv')
papers = pd.read_csv('./data_raw/Paper.csv')
PRESENTED_AT = pd.read_csv('./data_raw/PRESENTED_AT.csv')
PUBLISHED_IN = pd.read_csv('./data_raw/PUBLISHED_IN.csv')
REVIEWED = pd.read_csv('./data_raw/REVIEWED.csv')
universities = pd.read_csv('./data_raw/University.csv')
volumes = pd.read_csv('./data_raw/Volume.csv')

In [206]:
authors.head()

   Author_ID                name
0      16588          C. J. Date
1      16589          E. F. Codd
2      16590  Patrick A. V. Hall
3      16591       Markus Tresch
4      16592        Andreas Rock

In [207]:
authors_affiliated_company.head()

   AFFILIATED_ID  Author_ID  Company_ID
0         526543      21042           1
1         571756      36255           1
2         571565      36064           1
3         571407      35906           1
4         571398      35897           1

In [208]:
authors_affiliated_university.head()

   AFFILIATED_ID  Author_ID  University_ID
0         527657      22156              0
1         571608      36107              0
2         571333      35832              0
3         571140      35639              0
4         571080      35579              0

In [209]:
authored.head()

   AUTHORED_ID  Author_ID  Paper_ID
0         5055      16588      6514
1         5056      16589      6514
2         5057      16590      6515
3         5058      16589      6516
4         5059      16591      6517

In [210]:
cites.head()

   CITES_ID  Citing_Paper_ID  Cited_Paper_ID
0     38408             8753            6514
1     38409            11332            6514
2     38410             7342            6515
3     38411             6956            6515
4     38412             9095            6515

In [211]:
companies.head()

   Company_ID                         name
0           1                  Rush-Campos
1           2  Tucker, Decker and Erickson
2           3                 Thompson Ltd
3           4               Lewis and Sons
4           5    Higgins, Young and Bowers

In [212]:
conferences.head()

   Conference_ID            name
0          36405             ant
1          36406            cser
2          36407            iccS
3          36408         vsgames
4          36409  complexsystems

In [213]:
editions.head()

   Edition_ID  year conference
0       36394  2011        ant
1       36395  2012       cser
2       36396  2011       iccS
3       36397  2012    vsgames
4       36398  2012        ant

In [214]:
HAS_VOLUME.head()

   HAS_VOLUME_ID  Journal_ID  Volume_ID
0              0       11514      11519
1              1       11514      11520
2              2       11514      11521
3              3       11514      11522
4              4       11514      11523

In [215]:
IS_ABOUT.head()

   IS_ABOUT_ID  Paper_ID  Keyword_ID
0       492565      6514       36588
1       492566      6514       36589
2       492567      6514       36590
3       492568      6515       36591
4       492569      6515       36592

In [216]:
journals.head()

   Journal_ID                                               name
0       11514          IBM Research Report, San Jose, California
1       11515                Hydrology and Earth System Sciences
2       11516  Foundations and Trends in Communications and I...
3       11517                                     ACM Crossroads
4       11518            IEEE T. Instrumentation and Measurement

In [217]:
keywords.head()

   Keyword_ID            key
0       36588     Approaches
1       36589        Support
2       36590     Relational
3       36591        Systems
4       36592  Subexpression

In [218]:
organizes.head()

   ORGANIZES_ID  Conference_ID  Edition_ID
0         35997          36405       36394
1         35998          36406       36395
2         35999          36407       36396
3         36000          36408       36397
4         36001          36405       36398

In [219]:
papers.head()

,Paper_ID,title,author,id
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6

In [220]:
PRESENTED_AT.head()

   PRESENTED_AT_ID  Paper_ID  Edition_ID
0            34973     11670       36394
1            34974     11671       36395
2            34975     11672       36396
3            34976     11673       36397
4            34977     11674       36398

In [221]:
PUBLISHED_IN.head()

   PUBLISHED_IN_ID  Paper_ID  Volume_ID
0               69      6514      11519
1               70      6516      11520
2               71      6519      11521
3               72      6520      11522
4               73      6521      11523

In [222]:
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID
0       527824      18628      6514
1       527825      26214      6514
2       527826      17420      6514
3       527827      30713      6515
4       527828      18460      6515

In [223]:
universities.head()

   University_ID                            name
0              0         University of East John
1              6         University of Shawnport
2              7    University of New Brookestad
3              9  University of West Markborough
4             10         University of East Adam

In [224]:
volumes.head()

   Volume_ID    name    year                                journalName
0      11519  RJ1400  1974.0  IBM Research Report, San Jose, California
1      11520  RJ3132  1981.0  IBM Research Report, San Jose, California
2      11521   RJ909  1971.0  IBM Research Report, San Jose, California
3      11522   RJ893  1971.0  IBM Research Report, San Jose, California
4      11523   RJ599  1969.0  IBM Research Report, San Jose, California

## Data preparation
To prepare the data we must:
- Add Journal ID to volume.csv (only contains volume name currently)
- Add ConfWork ID to Edition.csv (only contains volume name currently)

These steps are not necessary, since the information is in other .csv files, however by incorporating the right information in these .csv files, we can save time by reading fewer files.

In [225]:
volumes = pd.merge(volumes, journals, left_on='journalName', right_on='name', how='inner').rename(columns={'name_x':'name'}).drop(columns='name_y')
volumes.head()

,Volume_ID,name,year,journalName,Journal_ID
0,11519,RJ1400,1974.0,"IBM Research Report, San Jose, California",11514
1,11520,RJ3132,1981.0,"IBM Research Report, San Jose, California",11514
2,11521,RJ909,1971.0,"IBM Research Report, San Jose, California",11514
3,11522,RJ893,1971.0,"IBM Research Report, San Jose, California",11514
4,11523,RJ599,1969.0,"IBM Research Report, San Jose, California",11514

In [226]:
editions = pd.merge(editions, conferences, left_on='conference', right_on='name', how='inner').rename(columns={'name_x':'name'}).drop(columns=['conference', 'name'])
editions.head()

   Edition_ID  year  Conference_ID
0       36394  2011          36405
1       36395  2012          36406
2       36396  2011          36407
3       36397  2012          36408
4       36398  2012          36405

## Data augmentation
The data provided does not include some aspects that are mentioned in Section *B.1. TBOX definition* of the project statement. The missing aspects are:
- Corresponding author
- Review text
- Abstract
- Relevant author
- Topics (groupings of keywords)
- City (of editions)
- Change keywords randomly
- Related ConfWork/Journals to topics randomly

We shall add these aspects to the data, prior to insertion to GraphDB.
N.B. Run commented lines only once

### Corresponding author

In [227]:
papers['corresponding_author'] = papers['author'].str.split('|').str[0]
#papers = pd.merge(papers, authors, left_on='corresponding_author', right_on='name', how='inner').drop(columns='name')
papers.head()

,Paper_ID,title,author,id,corresponding_author,Author_ID
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,16588
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,16590
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,16589
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,16591
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,16589

### Review text

In [228]:
reviews = [
    'clear', 'well-structured', 'unclear', 'confusing', 'innovative', 'original', 'lacks originality', 'uninspired', 'rigorous', 'well-designed experiments', 'flawed methodology', 'inadequate sample size', 'strong results', 'significant findings', 'weak results', 'contradictory data', 'insightful discussion', 'addresses research questions', 'superficial discussion', 'fails to address key questions', 'adequate references', 'relevant citations', 'inadequate references', 'missing citations', 'engaging', 'concise', 'poorly written', 'wordy', 'limitations are acknowledged', 'weaknesses are discussed', 'major limitations are ignored', 'lack of suggestions for improvement', 'ethical issues are addressed', 'research integrity is maintained', 'ethical concerns are overlooked', 'lack of transparency', 'high-quality', 'impactful', 'poor quality', 'not suitable for publication'
]
#REVIEWED['review_text'] = [random.choice(reviews) for i in range(len(REVIEWED))]
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID            review_text
0       527824      18628      6514  inadequate references
1       527825      26214      6514                concise
2       527826      17420      6514           poor quality
3       527827      30713      6515           weak results
4       527828      18460      6515     contradictory data

### Abstract

In [229]:
abstracts = [
    'This paper is about...', 'This study investigates...', 
    'The research aims to explore...', 'The paper examines...',
    'This paper presents...', 'The study proposes...', 
    'The research introduces...', 'The paper discusses...',
    'This paper demonstrates...', 'The study illustrates...', 
    'The research reveals...', 'The paper highlights...',
    'This paper addresses...', 'The study analyzes...', 
    'The research evaluates...', 'The paper compares...'
]
#papers['abstract'] = [random.choice(abstracts) for i in range(len(papers))]
papers.head()

,Paper_ID,title,author,id,corresponding_author,Author_ID,abstract
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,16588,The paper examines...
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,16590,The study analyzes...
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,16589,This study investigates...
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,16591,The study analyzes...
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,16589,This study investigates...

### Relevant author

In [230]:
reviewers = pd.DataFrame(REVIEWED['Author_ID'].unique(), columns=['Author_ID'])
publication_dict = {journal:'j' for journal in journals['Journal_ID']}
publication_dict.update({conference:'c' for conference in conferences['Conference_ID']})
#reviewers['relevantAuthorOf'] = random.choices(list(publication_dict.keys()), k=len(reviewers))
reviewers['publicationType'] = [publication_dict[id] for id in reviewers['relevantAuthorOf']]
reviewers.head()

   Author_ID  relevantAuthorOf publicationType
0      18628             36440               c
1      26214             36466               c
2      17420             36444               c
3      30713             36480               c
4      18460             36444               c

### Keywords

In [231]:
words = ["data management", "indexing", "data modeling", "big data", "data processing", "data storage",
         "data querying", "artificial intelligence", "machine learning", "neural networks",
         "deep learning", "computer vision", "natural language processing", "computer science",
         "computer", "algorithms", "theory of computation", "networks", "computer architecture",
         "privacy", "security", "surveillance", "bias", "disinformation", "misinformation",
         "data analysis", "data visualization", "data governance", "data mining", "data integration",
         "data quality", "data warehousing", "cloud computing", "edge computing", "distributed systems",
         "Internet of Things (IoT)", "blockchain technology", "cybersecurity", "cryptography",
         "ethical hacking", "digital forensics", "risk management", "threat intelligence",
         "biometrics", "identity management", "authentication", "authorization",
         "user privacy", "data breaches", "phishing attacks", "social engineering",
         "deepfake technology", "content moderation", "online reputation management",
         "fact-checking", "fake news detection", "media literacy", "algorithmic fairness",
         "explainable AI", "robustness", "adversarial examples", "reinforcement learning",
         "unsupervised learning", "semi-supervised learning", "transfer learning",
         "generative adversarial networks (GANs)", "recommender systems", "pattern recognition",
         "computer graphics", "virtual reality (VR)", "augmented reality (AR)",
         "mixed reality (MR)", "human-computer interaction", "user experience design",
         "information retrieval", "web search engines", "semantic web", "knowledge graphs",
         "computational linguistics", "speech recognition", "dialogue systems",
         "sentiment analysis", "text classification", "computational complexity",
         "algorithm analysis", "formal languages", "automata theory", "graph theory",
         "distributed computing", "parallel computing", "cloud architecture", "scalability",
         "fault tolerance", "interconnection networks", "processor design", "microarchitecture",
         "instruction set architecture", "embedded systems", "quantum computing",
         "homomorphic encryption", "secure multiparty computation", "zero-knowledge proofs",
         "data anonymization", "data masking", "end-to-end encryption", "digital rights management",
         "surveillance capitalism", "mass surveillance", "privacy-enhancing technologies",
         "data ethics", "privacy regulations", "surveillance regulation", "bias mitigation",
         "media literacy education", "critical thinking skills", "information hygiene",
         "rumor control", "counter-disinformation strategies", "media literacy campaigns"]
#keywords['key'] = random.choices(words, k=len(keywords))
keywords.head()

   Keyword_ID                          key
0       36588        computer architecture
1       36589                fact-checking
2       36590                         bias
3       36591              computer vision
4       36592  natural language processing

### Topics

In [232]:
topics = {"Database": 0,
          "Artificial Intelligence": 1,
          "Computer Science": 2,
          "Ethics": 3,
          "Data Science": 4,
          "Cybersecurity": 5,
          "Machine Learning": 6,
          "Blockchain": 7,
          "Cloud Computing": 8,
          "Internet of Things": 9,
          "Quantum Computing": 10}
#keywords['topic'] = random.choices(list(topics.keys()), k=len(keywords))
#keywords['Topic_ID'] = [topics[topic] for topic in keywords['topic']]
keywords.head()

   Keyword_ID                          key              topic  Topic_ID
0       36588        computer architecture      Cybersecurity         5
1       36589                fact-checking  Quantum Computing        10
2       36590                         bias      Cybersecurity         5
3       36591              computer vision           Database         0
4       36592  natural language processing      Cybersecurity         5

### ConfWork/Journals
Randomly assigning topics/communities to confworks and journals

In [233]:
#journals['topic'] = random.choices(list(topics.keys()), k=len(journals))
#journals['Topic_ID'] = [topics[topic] for topic in journals['topic']]
journals.head()

,Journal_ID,name,topic,Topic_ID
0,11514,"IBM Research Report, San Jose, California",Machine Learning,6
1,11515,Hydrology and Earth System Sciences,Computer Science,2
2,11516,Foundations and Trends in Communications and I...,Internet of Things,9
3,11517,ACM Crossroads,Blockchain,7
4,11518,IEEE T. Instrumentation and Measurement,Cloud Computing,8

In [237]:
#conferences['topic'] = random.choices(list(topics.keys()), k=len(conferences))
#conferences['Topic_ID'] = [topics[topic] for topic in conferences['topic']]
conferences.head()

    Conference_ID            name                    topic  Topic_ID
0           36405             ant               Blockchain         7
1           36406            cser          Cloud Computing         8
2           36407            iccS          Cloud Computing         8
3           36408         vsgames             Data Science         4
4           36409  complexsystems       Internet of Things         9
5           36410            dsai               Blockchain         7
6           36436         aistats                 Database         0
7           36437            nips          Cloud Computing         8
8           36438            colt            Cybersecurity         5
9           36439            pkdd            Cybersecurity         5
10          36440           pakdd          Cloud Computing         8
11          36441            acml               Blockchain         7
12          36442            icml        Quantum Computing        10
13          36443            icgi            Cybersecurity         5
14          36444            wapa  Artificial Intelligence         1
15          36445            wcci                 Database         0
16          36446             kdd        Quantum Computing        10
17          36447            mlsb          Cloud Computing         8
18          36465         sigsand  Artificial Intelligence         1
19          36466         wopplot         Machine Learning         6
20          36467            aldt                 Database         0
21          36468          ecrime                 Database         0
22          36469          asiams  Artificial Intelligence         1
23          36480         ACMicec  Artificial Intelligence         1

### City

In [235]:
cities = [
    "Tokyo", "New York City", "Los Angeles", "Paris", "London",
    "Hong Kong", "Singapore", "Dubai", "Shanghai", "Beijing",
    "Mumbai", "São Paulo", "Moscow", "Seoul", "Istanbul",
    "Mexico City", "Delhi", "Jakarta", "Cairo", "Lagos",
    "Buenos Aires", "Kolkata", "Karachi", "Rio de Janeiro", "Manila",
    "Dhaka", "Osaka", "Bangkok", "Lahore", "Lima",
    "Chicago", "Tianjin", "Kinshasa", "Chennai", "Bogotá",
    "Hyderabad", "Bangalore", "Johannesburg", "Ho Chi Minh City", "Wuhan",
    "Ahmedabad", "Baghdad", "Toronto", "Santiago", "Kuala Lumpur",
    "Singapore", "San Francisco", "Sydney", "Amsterdam", "Berlin"
]
#editions['city'] = random.choices(cities, k=len(editions))
editions.head()

   Edition_ID  year  Conference_ID       city
0       36394  2011          36405     Lahore
1       36395  2012          36406     Sydney
2       36396  2011          36407     Bogotá
3       36397  2012          36408      Wuhan
4       36398  2012          36405  Ahmedabad

## Save all
Convert cell below to markdow to save

authors.to_csv('./data_preprocessed/Author.csv', index=False)
authors_affiliated_company.to_csv('./data_preprocessed/AUTHOR_AFFILIATED_COMPANY.csv', index=False)
authors_affiliated_university.to_csv('./data_preprocessed/AUTHOR_AFFILIATED_UNIVERSITY.csv', index=False)
authored.to_csv('./data_preprocessed/AUTHORED.csv', index=False)
cites.to_csv('./data_preprocessed/CITES.csv', index=False)
companies.to_csv('./data_preprocessed/Company.csv', index=False)
conferences.to_csv('./data_preprocessed/Conference.csv', index=False)
editions.to_csv('./data_preprocessed/Edition.csv', index=False)
HAS_VOLUME.to_csv('./data_preprocessed/HAS_VOLUME.csv', index=False)
IS_ABOUT.to_csv('./data_preprocessed/IS_ABOUT.csv', index=False)
journals.to_csv('./data_preprocessed/Journal.csv', index=False)
keywords.to_csv('./data_preprocessed/Keyword.csv', index=False)
organizes.to_csv('./data_preprocessed/ORGANIZES.csv', index=False)
papers.to_csv('./data_preprocessed/Paper.csv', index=False)
PRESENTED_AT.to_csv('./data_preprocessed/PRESENTED_AT.csv', index=False)
PUBLISHED_IN.to_csv('./data_preprocessed/PUBLISHED_IN.csv', index=False)
REVIEWED.to_csv('./data_preprocessed/REVIEWED.csv', index=False)
universities.to_csv('./data_preprocessed/University.csv', index=False)
volumes.to_csv('./data_preprocessed/Volume.csv', index=False)
reviewers.to_csv('./data_preprocessed/Reviewer.csv', index=False)