In [58]:
import pandas as pd
import random

In [6]:
authors = pd.read_csv('./data/Author.csv')
authors_affiliated_company = pd.read_csv('./data/AUTHOR_AFFILIATED_COMPANY.csv')
authors_affiliated_university = pd.read_csv('./data/AUTHOR_AFFILIATED_UNIVERSITY.csv')
authored = pd.read_csv('./data/AUTHORED.csv')
cites = pd.read_csv('./data/CITES.csv')
companies = pd.read_csv('./data/Company.csv')
conferences = pd.read_csv('./data/Conference.csv')
editions = pd.read_csv('./data/EDITION.csv')
HAS_VOLUME = pd.read_csv('./data/HAS_VOLUME.csv')
IS_ABOUT = pd.read_csv('./data/IS_ABOUT.csv')
journals = pd.read_csv('./data/Journal.csv')
keywords = pd.read_csv('./data/Keyword.csv')
organizes = pd.read_csv('./data/ORGANIZES.csv')
papers = pd.read_csv('./data/Paper.csv')
PRESENTED_AT = pd.read_csv('./data/PRESENTED_AT.csv')
PUBLISHED_IN = pd.read_csv('./data/PUBLISHED_IN.csv')
REVIEWED = pd.read_csv('./data/REVIEWED.csv')
universities = pd.read_csv('./data/University.csv')
volumes = pd.read_csv('./data/Volume.csv')

In [10]:
authors.head()

   Author_ID                name
0      16588          C. J. Date
1      16589          E. F. Codd
2      16590  Patrick A. V. Hall
3      16591       Markus Tresch
4      16592        Andreas Rock

In [11]:
authors_affiliated_company.head()

   AFFILIATED_ID  Author_ID  Company_ID
0         526543      21042           1
1         571756      36255           1
2         571565      36064           1
3         571407      35906           1
4         571398      35897           1

In [12]:
authors_affiliated_university.head()

   AFFILIATED_ID  Author_ID  University_ID
0         527657      22156              0
1         571608      36107              0
2         571333      35832              0
3         571140      35639              0
4         571080      35579              0

In [30]:
authored.head()

   AUTHORED_ID  Author_ID  Paper_ID
0         5055      16588      6514
1         5056      16589      6514
2         5057      16590      6515
3         5058      16589      6516
4         5059      16591      6517

In [14]:
cites.head()

   CITES_ID  Citing_Paper_ID  Cited_Paper_ID
0     38408             8753            6514
1     38409            11332            6514
2     38410             7342            6515
3     38411             6956            6515
4     38412             9095            6515

In [15]:
companies.head()

   Company_ID                         name
0           1                  Rush-Campos
1           2  Tucker, Decker and Erickson
2           3                 Thompson Ltd
3           4               Lewis and Sons
4           5    Higgins, Young and Bowers

In [16]:
conferences.head()

   Conference_ID            name
0          36405             ant
1          36406            cser
2          36407            iccS
3          36408         vsgames
4          36409  complexsystems

In [17]:
editions.head()

   Edition_ID  year conference
0       36394  2011        ant
1       36395  2012       cser
2       36396  2011       iccS
3       36397  2012    vsgames
4       36398  2012        ant

In [18]:
HAS_VOLUME.head()

   HAS_VOLUME_ID  Journal_ID  Volume_ID
0              0       11514      11519
1              1       11514      11520
2              2       11514      11521
3              3       11514      11522
4              4       11514      11523

In [19]:
IS_ABOUT.head()

   IS_ABOUT_ID  Paper_ID  Keyword_ID
0       492565      6514       36588
1       492566      6514       36589
2       492567      6514       36590
3       492568      6515       36591
4       492569      6515       36592

In [20]:
journals.head()

   Journal_ID                                               name
0       11514          IBM Research Report, San Jose, California
1       11515                Hydrology and Earth System Sciences
2       11516  Foundations and Trends in Communications and I...
3       11517                                     ACM Crossroads
4       11518            IEEE T. Instrumentation and Measurement

In [32]:
keywords.head()

   Keyword_ID            key
0       36588     Approaches
1       36589        Support
2       36590     Relational
3       36591        Systems
4       36592  Subexpression

In [22]:
organizes.head()

   ORGANIZES_ID  Conference_ID  Edition_ID
0         35997          36405       36394
1         35998          36406       36395
2         35999          36407       36396
3         36000          36408       36397
4         36001          36405       36398

In [53]:
papers.head()

,Paper_ID,title,author,id
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6

In [24]:
PRESENTED_AT.head()

   PRESENTED_AT_ID  Paper_ID  Edition_ID
0            34973     11670       36394
1            34974     11671       36395
2            34975     11672       36396
3            34976     11673       36397
4            34977     11674       36398

In [25]:
PUBLISHED_IN.head()

   PUBLISHED_IN_ID  Paper_ID  Volume_ID
0               69      6514      11519
1               70      6516      11520
2               71      6519      11521
3               72      6520      11522
4               73      6521      11523

In [26]:
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID
0       527824      18628      6514
1       527825      26214      6514
2       527826      17420      6514
3       527827      30713      6515
4       527828      18460      6515

In [27]:
universities.head()

   University_ID                            name
0              0         University of East John
1              6         University of Shawnport
2              7    University of New Brookestad
3              9  University of West Markborough
4             10         University of East Adam

In [28]:
volumes.head()

   Volume_ID    name    year                                journalName
0      11519  RJ1400  1974.0  IBM Research Report, San Jose, California
1      11520  RJ3132  1981.0  IBM Research Report, San Jose, California
2      11521   RJ909  1971.0  IBM Research Report, San Jose, California
3      11522   RJ893  1971.0  IBM Research Report, San Jose, California
4      11523   RJ599  1969.0  IBM Research Report, San Jose, California

## Data augmentation
The data provided does not include some aspects that are mentioned in Section *B.1. TBOX definition* of the project statement. The missing aspects are:
- Corresponding author
- Review text
- Abstract
- Relevant author
- Topics (groupings of keywords)
- City (of editions)

We shall add these aspects to the data, prior to insertion to GraphDB.

### Corresponding author

In [82]:
papers['corresponding_author'] = papers['author'].str.split('|').str[0]
papers.head()

,Paper_ID,title,author,id,corresponding_author
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd

### Review text

In [86]:
reviews = [
    'clear', 'well-structured', 'unclear', 'confusing', 'innovative', 'original', 'lacks originality', 'uninspired', 'rigorous', 'well-designed experiments', 'flawed methodology', 'inadequate sample size', 'strong results', 'significant findings', 'weak results', 'contradictory data', 'insightful discussion', 'addresses research questions', 'superficial discussion', 'fails to address key questions', 'adequate references', 'relevant citations', 'inadequate references', 'missing citations', 'engaging', 'concise', 'poorly written', 'wordy', 'limitations are acknowledged', 'weaknesses are discussed', 'major limitations are ignored', 'lack of suggestions for improvement', 'ethical issues are addressed', 'research integrity is maintained', 'ethical concerns are overlooked', 'lack of transparency', 'high-quality', 'impactful', 'poor quality', 'not suitable for publication'
]
#REVIEWED['review_text'] = [random.choice(reviews) for i in range(len(REVIEWED))]
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID                     review_text
0       527824      18628      6514   major limitations are ignored
1       527825      26214      6514           inadequate references
2       527826      17420      6514  fails to address key questions
3       527827      30713      6515           insightful discussion
4       527828      18460      6515                       impactful

### Abstract

In [87]:
abstracts = [
    'This paper is about...', 'This study investigates...', 
    'The research aims to explore...', 'The paper examines...',
    'This paper presents...', 'The study proposes...', 
    'The research introduces...', 'The paper discusses...',
    'This paper demonstrates...', 'The study illustrates...', 
    'The research reveals...', 'The paper highlights...',
    'This paper addresses...', 'The study analyzes...', 
    'The research evaluates...', 'The paper compares...'
]
#papers['abstract'] = [random.choice(abstracts) for i in range(len(papers))]
papers.head()

,Paper_ID,title,author,id,corresponding_author,abstract
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,The paper highlights...
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,This paper is about...
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,The research reveals...
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,This paper is about...
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,The study illustrates...

### Relevant author

In [117]:
reviewers = pd.DataFrame(REVIEWED['Author_ID'].unique(), columns=['Author_ID'])
#reviewers['relevantAuthorOf'] = random.choices(journals['Journal_ID'].to_list()+conferences['Conference_ID'].to_list(), k=len(reviewers))
reviewers.head()

   Author_ID  relevantAuthorOf
0      18628             36466
1      26214             36465
2      17420             36439
3      30713             36437
4      18460             36440

### Topics

In [123]:
topics = [
    "ArtificialIntelligence", "ClimateChange", "Bioinformatics", "Nanotechnology", "Epidemiology",
    "QuantumComputing", "StemCells", "RenewableEnergy", "Robotics", "Neuroscience",
    "GenomeEditing", "SocialNetworks", "SpaceExploration", "Cybersecurity", "DrugDiscovery",
    "Human-ComputerInteraction", "UrbanPlanning", "Psychology", "BiomedicalImaging", "Agriculture",
    "EvolutionaryBiology", "3DPrinting", "Oceanography", "TissueEngineering", "Cryptocurrencies",
    "AugmentedReality", "Paleontology", "WirelessCommunication", "Modeling", "CancerBiology",
    "GameTheory", "Pollution", "Wearables", "Addiction", "QuantumPhysics", "Genetics",
    "Ecology", "LanguageProcessing", "Atmosphere", "Materials", "Humanities", "Virology",
    "Astrophysics", "Transportation", "Behavior", "IoT", "Immunology", "DataScience",
    "Rights", "Economics"
]
#keywords['topic'] = random.choices(topics, k=len(keywords))
keywords.head()

   Keyword_ID            key              topic
0       36588     Approaches      UrbanPlanning
1       36589        Support  BiomedicalImaging
2       36590     Relational         Psychology
3       36591        Systems         3DPrinting
4       36592  Subexpression   Cryptocurrencies

### City

In [124]:
cities = [
    "Tokyo", "New York City", "Los Angeles", "Paris", "London",
    "Hong Kong", "Singapore", "Dubai", "Shanghai", "Beijing",
    "Mumbai", "So Paulo", "Moscow", "Seoul", "Istanbul",
    "Mexico City", "Delhi", "Jakarta", "Cairo", "Lagos",
    "Buenos Aires", "Kolkata", "Karachi", "Rio de Janeiro", "Manila",
    "Dhaka", "Osaka", "Bangkok", "Lahore", "Lima",
    "Chicago", "Tianjin", "Kinshasa", "Chennai", "Bogot",
    "Hyderabad", "Bangalore", "Johannesburg", "Ho Chi Minh City", "Wuhan",
    "Ahmedabad", "Baghdad", "Toronto", "Santiago", "Kuala Lumpur",
    "Singapore", "San Francisco", "Sydney", "Amsterdam", "Berlin"
]
#editions['city'] = random.choices(cities, k=len(editions))
editions.head()

   Edition_ID  year conference         city
0       36394  2011        ant    Bangalore
1       36395  2012       cser      Jakarta
2       36396  2011       iccS        Wuhan
3       36397  2012    vsgames  Los Angeles
4       36398  2012        ant     Shanghai

## Save all
Convert cell below to markdow to save

authors.to_csv('./data/Author.csv', index=False)
authors_affiliated_company.to_csv('./data/AUTHOR_AFFILIATED_COMPANY.csv', index=False)
authors_affiliated_university.to_csv('./data/AUTHOR_AFFILIATED_UNIVERSITY.csv', index=False)
authored.to_csv('./data/AUTHORED.csv', index=False)
cites.to_csv('./data/CITES.csv', index=False)
companies.to_csv('./data/Company.csv', index=False)
conferences.to_csv('./data/Conference.csv', index=False)
editions.to_csv('./data/Edition.csv', index=False)
HAS_VOLUME.to_csv('./data/HAS_VOLUME.csv', index=False)
IS_ABOUT.to_csv('./data/IS_ABOUT.csv', index=False)
journals.to_csv('./data/Journal.csv', index=False)
keywords.to_csv('./data/Keyword.csv', index=False)
organizes.to_csv('./data/ORGANIZES.csv', index=False)
papers.to_csv('./data/Paper.csv', index=False)
PRESENTED_AT.to_csv('./data/PRESENTED_AT.csv', index=False)
PUBLISHED_IN.to_csv('./data/PUBLISHED_IN.csv', index=False)
REVIEWED.to_csv('./data/REVIEWED.csv', index=False)
universities.to_csv('./data/University.csv', index=False)
volumes.to_csv('./data/Volume.csv', index=False)
reviewers.to_csv('./data/Reviewer.csv', index=False)