In [164]:
import pandas as pd
import random

In [165]:
authors = pd.read_csv('./data_raw/Author.csv')
authors_affiliated_company = pd.read_csv('./data_raw/AUTHOR_AFFILIATED_COMPANY.csv')
authors_affiliated_university = pd.read_csv('./data_raw/AUTHOR_AFFILIATED_UNIVERSITY.csv')
authored = pd.read_csv('./data_raw/AUTHORED.csv')
cites = pd.read_csv('./data_raw/CITES.csv')
companies = pd.read_csv('./data_raw/Company.csv')
conferences = pd.read_csv('./data_raw/Conference.csv')
editions = pd.read_csv('./data_raw/EDITION.csv')
HAS_VOLUME = pd.read_csv('./data_raw/HAS_VOLUME.csv')
IS_ABOUT = pd.read_csv('./data_raw/IS_ABOUT.csv')
journals = pd.read_csv('./data_raw/Journal.csv')
keywords = pd.read_csv('./data_raw/Keyword.csv')
organizes = pd.read_csv('./data_raw/ORGANIZES.csv')
papers = pd.read_csv('./data_raw/Paper.csv')
PRESENTED_AT = pd.read_csv('./data_raw/PRESENTED_AT.csv')
PUBLISHED_IN = pd.read_csv('./data_raw/PUBLISHED_IN.csv')
REVIEWED = pd.read_csv('./data_raw/REVIEWED.csv')
universities = pd.read_csv('./data_raw/University.csv')
volumes = pd.read_csv('./data_raw/Volume.csv')

In [166]:
authors.head()

   Author_ID                name
0      16588          C. J. Date
1      16589          E. F. Codd
2      16590  Patrick A. V. Hall
3      16591       Markus Tresch
4      16592        Andreas Rock

In [167]:
authors_affiliated_company.head()

   AFFILIATED_ID  Author_ID  Company_ID
0         526543      21042           1
1         571756      36255           1
2         571565      36064           1
3         571407      35906           1
4         571398      35897           1

In [168]:
authors_affiliated_university.head()

   AFFILIATED_ID  Author_ID  University_ID
0         527657      22156              0
1         571608      36107              0
2         571333      35832              0
3         571140      35639              0
4         571080      35579              0

In [169]:
authored.head()

   AUTHORED_ID  Author_ID  Paper_ID
0         5055      16588      6514
1         5056      16589      6514
2         5057      16590      6515
3         5058      16589      6516
4         5059      16591      6517

In [170]:
cites.head()

   CITES_ID  Citing_Paper_ID  Cited_Paper_ID
0     38408             8753            6514
1     38409            11332            6514
2     38410             7342            6515
3     38411             6956            6515
4     38412             9095            6515

In [171]:
companies.head()

   Company_ID                         name
0           1                  Rush-Campos
1           2  Tucker, Decker and Erickson
2           3                 Thompson Ltd
3           4               Lewis and Sons
4           5    Higgins, Young and Bowers

In [172]:
conferences.head()

   Conference_ID            name
0          36405             ant
1          36406            cser
2          36407            iccS
3          36408         vsgames
4          36409  complexsystems

In [173]:
editions.head()

   Edition_ID  year conference         city
0       36394  2011        ant    Bangalore
1       36395  2012       cser      Jakarta
2       36396  2011       iccS        Wuhan
3       36397  2012    vsgames  Los Angeles
4       36398  2012        ant     Shanghai

In [174]:
HAS_VOLUME.head()

   HAS_VOLUME_ID  Journal_ID  Volume_ID
0              0       11514      11519
1              1       11514      11520
2              2       11514      11521
3              3       11514      11522
4              4       11514      11523

In [175]:
IS_ABOUT.head()

   IS_ABOUT_ID  Paper_ID  Keyword_ID
0       492565      6514       36588
1       492566      6514       36589
2       492567      6514       36590
3       492568      6515       36591
4       492569      6515       36592

In [176]:
journals.head()

   Journal_ID                                               name
0       11514          IBM Research Report, San Jose, California
1       11515                Hydrology and Earth System Sciences
2       11516  Foundations and Trends in Communications and I...
3       11517                                     ACM Crossroads
4       11518            IEEE T. Instrumentation and Measurement

In [177]:
keywords.head()

   Keyword_ID            key              topic
0       36588     Approaches      UrbanPlanning
1       36589        Support  BiomedicalImaging
2       36590     Relational         Psychology
3       36591        Systems         3DPrinting
4       36592  Subexpression   Cryptocurrencies

In [178]:
organizes.head()

   ORGANIZES_ID  Conference_ID  Edition_ID
0         35997          36405       36394
1         35998          36406       36395
2         35999          36407       36396
3         36000          36408       36397
4         36001          36405       36398

In [179]:
papers.head()

,Paper_ID,title,author,id,corresponding_author,abstract
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,The paper highlights...
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,This paper is about...
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,The research reveals...
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,This paper is about...
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,The study illustrates...

In [180]:
PRESENTED_AT.head()

   PRESENTED_AT_ID  Paper_ID  Edition_ID
0            34973     11670       36394
1            34974     11671       36395
2            34975     11672       36396
3            34976     11673       36397
4            34977     11674       36398

In [181]:
PUBLISHED_IN.head()

   PUBLISHED_IN_ID  Paper_ID  Volume_ID
0               69      6514      11519
1               70      6516      11520
2               71      6519      11521
3               72      6520      11522
4               73      6521      11523

In [182]:
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID                     review_text
0       527824      18628      6514   major limitations are ignored
1       527825      26214      6514           inadequate references
2       527826      17420      6514  fails to address key questions
3       527827      30713      6515           insightful discussion
4       527828      18460      6515                       impactful

In [183]:
universities.head()

   University_ID                            name
0              0         University of East John
1              6         University of Shawnport
2              7    University of New Brookestad
3              9  University of West Markborough
4             10         University of East Adam

In [184]:
volumes.head()

   Volume_ID    name    year                                journalName
0      11519  RJ1400  1974.0  IBM Research Report, San Jose, California
1      11520  RJ3132  1981.0  IBM Research Report, San Jose, California
2      11521   RJ909  1971.0  IBM Research Report, San Jose, California
3      11522   RJ893  1971.0  IBM Research Report, San Jose, California
4      11523   RJ599  1969.0  IBM Research Report, San Jose, California

## Data preparation
To prepare the data we must:
- Add Journal ID to volume.csv (only contains volume name currently)
- Add ConfWork ID to Edition.csv (only contains volume name currently)

These steps are not necessary, since the information is in other .csv files, however by incorporating the right information in these .csv files, we can save time by reading fewer files.

In [216]:
#volumes = pd.merge(volumes, journals, left_on='journalName', right_on='name', how='inner').rename(columns={'name_x':'name'}).drop(columns='name_y')
volumes.head()

   Volume_ID    name    year  Journal_ID
0      11519  RJ1400  1974.0       11514
1      11520  RJ3132  1981.0       11514
2      11521   RJ909  1971.0       11514
3      11522   RJ893  1971.0       11514
4      11523   RJ599  1969.0       11514

In [221]:
#editions = pd.merge(editions, conferences, left_on='conference', right_on='name', how='inner').rename(columns={'name_x':'name'}).drop(columns=['conference', 'name'])
editions.head()

   Edition_ID  year           city  Conference_ID
0       36394  2011  San Francisco          36405
1       36395  2012      Ahmedabad          36406
2       36396  2011         Mumbai          36407
3       36397  2012       Santiago          36408
4       36398  2012         Moscow          36405

## Data augmentation
The data provided does not include some aspects that are mentioned in Section *B.1. TBOX definition* of the project statement. The missing aspects are:
- Corresponding author
- Review text
- Abstract
- Relevant author
- Topics (groupings of keywords)
- City (of editions)

We shall add these aspects to the data, prior to insertion to GraphDB.
N.B. Run commented lines only once

### Corresponding author

In [185]:
papers['corresponding_author'] = papers['author'].str.split('|').str[0]
#papers = pd.merge(papers, authors, left_on='corresponding_author', right_on='name', how='inner').drop(columns='name')
papers.head()

,Paper_ID,title,author,id,corresponding_author,abstract,Author_ID
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,The paper highlights...,16588
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,This paper is about...,16590
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,The research reveals...,16589
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,This paper is about...,16591
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,The study illustrates...,16589

### Review text

In [186]:
reviews = [
    'clear', 'well-structured', 'unclear', 'confusing', 'innovative', 'original', 'lacks originality', 'uninspired', 'rigorous', 'well-designed experiments', 'flawed methodology', 'inadequate sample size', 'strong results', 'significant findings', 'weak results', 'contradictory data', 'insightful discussion', 'addresses research questions', 'superficial discussion', 'fails to address key questions', 'adequate references', 'relevant citations', 'inadequate references', 'missing citations', 'engaging', 'concise', 'poorly written', 'wordy', 'limitations are acknowledged', 'weaknesses are discussed', 'major limitations are ignored', 'lack of suggestions for improvement', 'ethical issues are addressed', 'research integrity is maintained', 'ethical concerns are overlooked', 'lack of transparency', 'high-quality', 'impactful', 'poor quality', 'not suitable for publication'
]
#REVIEWED['review_text'] = [random.choice(reviews) for i in range(len(REVIEWED))]
REVIEWED.head()

   REVIEWED_ID  Author_ID  Paper_ID                       review_text
0       527824      18628      6514                          engaging
1       527825      26214      6514               adequate references
2       527826      17420      6514  research integrity is maintained
3       527827      30713      6515                             clear
4       527828      18460      6515                        innovative

### Abstract

In [187]:
abstracts = [
    'This paper is about...', 'This study investigates...', 
    'The research aims to explore...', 'The paper examines...',
    'This paper presents...', 'The study proposes...', 
    'The research introduces...', 'The paper discusses...',
    'This paper demonstrates...', 'The study illustrates...', 
    'The research reveals...', 'The paper highlights...',
    'This paper addresses...', 'The study analyzes...', 
    'The research evaluates...', 'The paper compares...'
]
#papers['abstract'] = [random.choice(abstracts) for i in range(len(papers))]
papers.head()

,Paper_ID,title,author,id,corresponding_author,abstract,Author_ID
0,6514,Interactive Support for Non-Programmers: The R...,C. J. Date|E. F. Codd,r2,C. J. Date,This study investigates...,16588
1,6515,Common Subexpression Identification in General...,Patrick A. V. Hall,3,Patrick A. V. Hall,The research aims to explore...,16590
2,6516,The Capabilities of Relational Database Manage...,E. F. Codd,4,E. F. Codd,The research aims to explore...,16589
3,6517,Principles of Distributed Object Database Lang...,Markus Tresch,5,Markus Tresch,The paper examines...,16591
4,6518,Relational Completeness of Data Base Sublangua...,E. F. Codd,6,E. F. Codd,The research aims to explore...,16589

### Relevant author

In [188]:
reviewers = pd.DataFrame(REVIEWED['Author_ID'].unique(), columns=['Author_ID'])
#reviewers['relevantAuthorOf'] = random.choices(journals['Journal_ID'].to_list()+conferences['Conference_ID'].to_list(), k=len(reviewers))
reviewers.head()

   Author_ID  relevantAuthorOf
0      18628             36445
1      26214             36438
2      17420             11517
3      30713             36468
4      18460             36447

### Topics

In [193]:
topics = {
    "ArtificialIntelligence": 0, "ClimateChange": 1, "Bioinformatics": 2, "Nanotechnology": 3, "Epidemiology": 4, "QuantumComputing": 5, "StemCells": 6, "RenewableEnergy": 7, "Robotics": 8, "Neuroscience": 9, "GenomeEditing": 10, "SocialNetworks": 11, "SpaceExploration": 12, "Cybersecurity": 13, "DrugDiscovery": 14, "Human-ComputerInteraction": 15, "UrbanPlanning": 16, "Psychology": 17, "BiomedicalImaging": 18, "Agriculture": 19, "EvolutionaryBiology": 20, "3DPrinting": 21, "Oceanography": 22, "TissueEngineering": 23, "Cryptocurrencies": 24, "AugmentedReality": 25, "Paleontology": 26, "WirelessCommunication": 27, "Modeling": 28, "CancerBiology": 29, "GameTheory": 30, "Pollution": 31, "Wearables": 32, "Addiction": 33, "QuantumPhysics": 34, "Genetics": 35, "Ecology": 36, "LanguageProcessing": 37, "Atmosphere": 38, "Materials": 39, "Humanities": 40, "Virology": 41, "Astrophysics": 42, "Transportation": 43, "Behavior": 44, "IoT": 45, "Immunology": 46, "DataScience": 47, "Rights": 48, "Economics": 49}
#keywords['topic'] = random.choices(list(topics.keys()), k=len(keywords))
#keywords['Topic_ID'] = [topics[topic] for topic in keywords['topic']]
keywords.head()

   Keyword_ID            key                   topic  Topic_ID
0       36588     Approaches  ArtificialIntelligence         0
1       36589        Support              Humanities        40
2       36590     Relational               Economics        49
3       36591        Systems           GenomeEditing        10
4       36592  Subexpression       TissueEngineering        23

### City

In [190]:
cities = [
    "Tokyo", "New York City", "Los Angeles", "Paris", "London",
    "Hong Kong", "Singapore", "Dubai", "Shanghai", "Beijing",
    "Mumbai", "So Paulo", "Moscow", "Seoul", "Istanbul",
    "Mexico City", "Delhi", "Jakarta", "Cairo", "Lagos",
    "Buenos Aires", "Kolkata", "Karachi", "Rio de Janeiro", "Manila",
    "Dhaka", "Osaka", "Bangkok", "Lahore", "Lima",
    "Chicago", "Tianjin", "Kinshasa", "Chennai", "Bogot",
    "Hyderabad", "Bangalore", "Johannesburg", "Ho Chi Minh City", "Wuhan",
    "Ahmedabad", "Baghdad", "Toronto", "Santiago", "Kuala Lumpur",
    "Singapore", "San Francisco", "Sydney", "Amsterdam", "Berlin"
]
#editions['city'] = random.choices(cities, k=len(editions))
editions.head()

   Edition_ID  year conference           city
0       36394  2011        ant  San Francisco
1       36395  2012       cser      Ahmedabad
2       36396  2011       iccS         Mumbai
3       36397  2012    vsgames       Santiago
4       36398  2012        ant         Moscow

## Save all
Convert cell below to markdow to save

authors.to_csv('./data_preprocessed/Author.csv', index=False)
authors_affiliated_company.to_csv('./data_preprocessed/AUTHOR_AFFILIATED_COMPANY.csv', index=False)
authors_affiliated_university.to_csv('./data_preprocessed/AUTHOR_AFFILIATED_UNIVERSITY.csv', index=False)
authored.to_csv('./data_preprocessed/AUTHORED.csv', index=False)
cites.to_csv('./data_preprocessed/CITES.csv', index=False)
companies.to_csv('./data_preprocessed/Company.csv', index=False)
conferences.to_csv('./data_preprocessed/Conference.csv', index=False)
editions.to_csv('./data_preprocessed/Edition.csv', index=False)
HAS_VOLUME.to_csv('./data_preprocessed/HAS_VOLUME.csv', index=False)
IS_ABOUT.to_csv('./data_preprocessed/IS_ABOUT.csv', index=False)
journals.to_csv('./data_preprocessed/Journal.csv', index=False)
keywords.to_csv('./data_preprocessed/Keyword.csv', index=False)
organizes.to_csv('./data_preprocessed/ORGANIZES.csv', index=False)
papers.to_csv('./data_preprocessed/Paper.csv', index=False)
PRESENTED_AT.to_csv('./data_preprocessed/PRESENTED_AT.csv', index=False)
PUBLISHED_IN.to_csv('./data_preprocessed/PUBLISHED_IN.csv', index=False)
REVIEWED.to_csv('./data_preprocessed/REVIEWED.csv', index=False)
universities.to_csv('./data_preprocessed/University.csv', index=False)
volumes.to_csv('./data_preprocessed/Volume.csv', index=False)
reviewers.to_csv('./data_preprocessed/Reviewer.csv', index=False)